html, body {
  font-size: 10px;
}

.car-header {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  max-height: 23rem;
  transition: height .3s ease-out;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 7rem;
}

.car-header:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 84px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0) 100%);
  top: 0;
  z-index: -1;
}