html, body {
  font-size: 10px;
}

body {
  height: 100%;
  font-weight: normal;
  font-variant: normal;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: #767676;
  margin: 0;
  letter-spacing: .1rem;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}


a {
  color: #0070ba;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .headline {
  font-weight: 300;
  color: #2c2e2f;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h1, h2, .x-large {
  letter-spacing: .02em;
}

h2, .x-large {
  font-size: 40px;
  font-size: 2.857rem;
  line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6, .headline {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-variant: normal;
  line-height: 1.25;
}

p {
  padding-top: 4px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 15px;
  font-size: 1.071rem;
  line-height: 1.5em;
  color: #2c2e2f;
}

.car-header {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  max-height: 23rem;
  transition: height .3s ease-out;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 7.2rem;
}

.car-header:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 8.4rem;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0) 100%);
  top: 0;
  z-index: -1;
}

.car-header:after {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 7.2rem;
}

@keyframes headerclose {
  0% {
    background-color:#009cde;
    background-image:radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%)
  }
  40% {
    background-color:#009cde;
    background-image:radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%)
  }
  50% {
    background-image:radial-gradient(circle farthest-side at left top, rgba(0,156,222,0.5), rgba(0,48,135,0.75) 125%)
  }
  65% {
    background-image:radial-gradient(circle farthest-side at left top, rgba(0,156,222,0.65), rgba(0,48,135,0.5) 125%)
  }
  80% {
    background-image:radial-gradient(circle farthest-side at left top, rgba(0,156,222,0.3), rgba(0,48,135,0.25) 125%)
  }
  90% {
    background-image:radial-gradient(circle farthest-side at left top, rgba(0,156,222,0.1), rgba(0,0,0,0.05) 125%)
  }
  100% {
    background-image:none
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px rgba(255,255,255,0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
  }
}

.car-header > div {
  -webkit-animation: headerclose .4s steps(10, end) 1 300ms 0 ease;
  -moz-animation: headerclose .4s steps(10, end) 1 300ms 0 ease;
  -ms-animation: headerclose .4s steps(10, end) 1 300ms 0 ease;
  -webkit-animation: headerclose .4s steps(10, end) 1;
  -moz-animation: headerclose .4s steps(10, end) 1;
  animation: headerclose .4s steps(10, end) 1;
  background-image: none;
  height: inherit;
}

.car-header div .car-logo {
  background: transparent url("images/image.png") center center no-repeat;
  background-size: contain;
  height: 10rem;
  left: 0;
  margin: 0;
  position: absolute;
  top: -2.5rem;
  width: 13.6rem;
  display: block;
  text-indent: 0;
  overflow: hidden;
  z-index: 1;
}

.main-menu {
  background: none;
  border-right: none;
  min-height: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 100%;
  padding-left: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  padding-top: 2.8rem;
  top: 0;
}

.main-menu ul {
  margin: 0;
  text-align: center;
}

.main-menu > ul > li {
  display: inline-block;
}

.main-menu > ul > li > a {
  padding: 2.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2.7;
  text-transform: uppercase;
  cursor: pointer;
}

.main-menu > ul > li > a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.container-centered {
  height: inherit;
  min-width: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;
  min-width: 940px;
  max-width: 1150px;
}

.main {
  padding-top: 0;
  -webkit-transition: padding-top .3s ease-out;
  -moz-transition: padding-top .3s ease-out;
  -ms-transition: padding-top .3s ease-out;
  transition: padding-top .3s ease-out;
}

.twin-hero {
  height: 550px;
  background-color: black;
  padding-top: 0 !important;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.center-text {
  text-align: center;
}

.row-fluid {
  background: #fff;
  position: relative;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate(0, 0);
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twin-hero .hero-shadow {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 72px;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.07));
}

.twin-hero .hero-container {
  width: 100%;
  height: 100%;
}

.twin-hero .left-hero {
  position: absolute;
  z-index: 20;
  overflow: hidden;
  position: relative;
  -webkit-transition: transform .8s;
  transition: transform .8s;
  width: 85%;
  height: 100%;
  top: 0;
  transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  left: -35%;
  box-shadow: 1px 0 10px rgba(0,0,0,0.7);
}

.twin-hero .left-hero .left-hero-tilt {
  width: 100%;
  height: 100%;
  margin-left: 15%;
  background: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/consumer-desktop-hero.jpg) no-repeat center center;
  background-size: cover;
  transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  -webkit-transition: transform .8s;
  transition: transform .8s;
}

.twin-hero .left-hero .left-hero-tilt:before {
  content: "";
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
  opacity: 0;
}

.twin-hero .hero-container .side-container {
  padding-top: 72px;
  width: 80%;
  max-width: 1300px;
  height: 80%;
  position: relative;
}

.twin-hero .left-hero .left-hero-tilt .side-container {
  float: right;
}

.twin-hero .hero-container .active {
  border-bottom: none;
}

.twin-hero .hero-container .initial {
  position: absolute;
  width: 400px;
  padding-top: 130px;
  height: auto;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
}

.twin-hero .hero-container .initial.active {
  opacity: 1;
  z-index: 100;
}

.twin-hero .left-hero .left-hero-tilt .side-container .initial {
  right: 30%;
}

.twin-hero .hero-container h2, .twin-hero .hero-container p {
  color: #fff;
}

.twin-hero .hero-container h2 {
  font-size: 3.5rem;
  font-weight: 900;
}

.twin-hero .hero-container p {
  font-size: 20px;
  font-size: 1.42857143rem;
}

.twin-hero .hero-container .round-icon {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.twin-hero .right-hero {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -25%;
  z-index: 10;
  -webkit-transition: transform .8s;
  transition: transform .8s;
  transform: translateX(-8%);
  -moz-transform: translateX(-8%);
  -webkit-transform: translateX(-8%);
}

.twin-hero .right-hero .right-hero-tilt {
  width: 100%;
  height: 100%;
  background: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/merchant-desktop-hero.jpg) no-repeat center center;
  background-size: cover;
  -webkit-transition: transform .8s;
  transition: transform .8s;
}

.twin-hero .right-hero .right-hero-tilt .side-container .initial {
  left: 35%;
}

.twin-hero .hero-container .collapsed {
  position: absolute;
  width: 300px;
  padding-top: 160px;
  height: auto;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
}

.twin-hero .hero-container .collapsed.active {
  opacity: 1;
  z-index: 100;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .collapsed {
  right: 25%;
}

.twin-hero .right-hero .right-hero-tilt .side-container .collapsed {
  left: 25%;
}

.twin-hero .hero-container .round-filled-icon {
  display: inline-block;
  background: #fff;
  font-size: 40px;
  color: #009cde;
  border-radius: 30px;
  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content-box;
  width: 50px;
  height: 50px;
  line-height: 45px;
  padding: 0;
  margin-top: 10px;
  cursor: default;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.twin-hero .left-hero.left-hero-expanded {
  transform: skewX(-10deg) translateX(25%);
  -moz-transform: skewX(-10deg) translateX(25%);
  -webkit-transform: skewX(-10deg) translateX(25%);
}
.twin-hero .left-hero.left-hero-collapsed {
  transform: skewX(-10deg) translateX(-25%);
  -moz-transform: skewX(-10deg) translateX(-25%);
  -webkit-transform: skewX(-10deg) translateX(-25%);
}

.twin-hero .right-hero.right-hero-expanded {
  transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
}

.twin-hero .right-hero.right-hero-collapsed {
  transform: translateX(25%);
  -moz-transform: translateX(25%);
  -webkit-transform: translateX(25%);
}

.twin-hero .hero-container .expanded {
  position: absolute;
  width: 85%;
  top: 20%;
  height: auto;
  overflow: auto;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
}

.twin-hero .left-hero .left-hero-tilt .side-container .expanded {
  right: 30%; 
  top: 12rem;
}

.twin-hero .hero-container .expanded.active {
  opacity: 1;
  z-index: 100;
}

.twin-hero .left-hero .left-hero-tilt:before {
  content: "";
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
  opacity: 0;
}

.twin-hero .left-hero.left-hero-expanded .left-hero-tilt-expanded:before {
  opacity: 1;
}

.twin-hero .hero-container .side-container .hero-twin-items {
  margin: 30px 0 30px 4%;
  overflow: auto;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item {
  float: left;
  width: 28%;
  margin-left: 2%;
  margin-right: 2%;
}

.twin-hero .hero-container .side-container .hero-twin-items {
  margin: 30px 0 30px 4%;
  overflow: auto;
}
html[data-device-type="dedicated"] .twin-hero .hero-container .side-container .hero-twin-items {
  margin: 30px 0 15px 4%;
}

.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .hero-twin-item-icon {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 93px;
  height: 82px;
}

.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-1-opt {
  background-position: -93px -85px;
}

.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item div {
  text-align: center;
  transform: scale(.8);
  -moz-transform: scale(.8);
  -webkit-transform: scale(.8);
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item p {
  font-size: 15px;
  font-size: 1.07142857rem;
}

.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-2-opt {
  background-position: -90px -165px;
}

.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-3-opt {
  background-position: 3px -161px;
}

i {
  color: white;
}

.hero-twin-item i {
  padding-bottom: 1rem;
}

.hero-twin-item p {
  font-size: 1.25rem !important;
  font-weight: 800;
  text-transform: uppercase;
}

.right-hero-tilt.right-hero-tilt-initial .side-container .initial.active h2,
.right-hero-tilt.right-hero-tilt-initial .side-container .initial.active p{
  margin-left: 4rem;
}

.left-hero-tilt.left-hero-tilt-initial .side-container .initial.active h2,
.left-hero-tilt.left-hero-tilt-initial .side-container .initial.active p,
.left-hero-tilt.left-hero-tilt-collapsed .side-container .collapsed.active h2,
.left-hero-tilt.left-hero-tilt-collapsed .side-container .collapsed.active p,
.left-hero-tilt.left-hero-tilt-expanded .side-container .expanded.active h2,
.left-hero-tilt.left-hero-tilt-expanded .side-container .expanded.active p{
  margin-left: 1rem;
}


.right-hero-tilt.right-hero-tilt-collapsed .side-container .collapsed.active h2 {
  margin-right: 1rem;
}

.right-hero-tilt.right-hero-tilt-collapsed .side-container .collapsed.active span {
  margin-right: 6rem;
}

.left-hero-tilt.left-hero-tilt-expanded .side-container .expanded.active .round-icon--small,
.right-hero-tilt.right-hero-tilt-expanded .side-container .expanded.active .round-icon--small{
  font-size: 20px;
  width: 25px;
  height: 25px;
  line-height: 22.5px;
}

.left-hero-tilt.left-hero-tilt-expanded .side-container .expanded.active .right-corner{
  position: absolute;
  top: -100px;
  right: -100px;
}

.twin-hero .hero-container .expanded.active {
  overflow: visible;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item.hero-twin-item-button {
  margin-left: 16%;
  padding-top: 4.5rem;
  padding-bottom: .5rem;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item.hero-twin-item-button.left-btn {
  margin-left: 4%;
}

.hero-twin-item.hero-twin-item-button span.round {
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50px;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s;
}

.hero-twin-item.hero-twin-item-button span:hover {
  width: 150px;
}

.hero-twin-item.hero-twin-item-button span i {
  padding-bottom: 1rem;
  padding-left: .5rem;
  line-height: 50px;
}

.hero-twin-item.hero-twin-item-button.left-btn span i {
  padding-left: 0;
}

.hero-twin-item.hero-twin-item-button span p {
  display: inline-block;
  transform: translateY(-15%);
  text-transform: capitalize;
}

.twin-hero .right-hero .right-hero-tilt:before {
  content: "";
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
  opacity: 0;
}

.twin-hero .right-hero.right-hero-expanded .right-hero-tilt-expanded:before {
  opacity: 1;
}

.right-hero-tilt.right-hero-tilt-expanded .side-container .expanded.active .left-corner{
  position: absolute;
  top: -100px;
  left: -80px;
}

.twin-hero .right-hero .right-hero-tilt .side-container .expanded {
  left: 30%;
  top: 12rem;
}

#myVideo {
  right: 0;
  top: 0;
  min-width: 100%; 
  min-height: 100%; 
}

.header-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header-container__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  margin-bottom: 6rem;
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 2rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-family: 'Niconne', cursive;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
}

.workflow-container {
  height: 100vh;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
}

.workflow-items-left {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.workflow-items-right {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
}

@keyframes rotateInRight {
  0% {
      opacity: 0;
      transform: translateX(-10rem) rotate(-180deg);
  }

  80% {
      transform: translateX(1rem) rotate(10deg);
  }

  100% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
  }
}

@keyframes rotateInLeft {
  0% {
      opacity: 0;
      transform: translateX(10rem) rotate(180deg);
  }

  80% {
      transform: translateX(-1rem) rotate(-10deg);
  }

  100% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
  }
}

.workflow-items-right .workflow-item, .workflow-items-left .workflow-item {
  height: 75px;
  width: 75px;
  border: 3px solid #fff;
  display: inline-block;
  border-radius: 100%;
  color: #fff;
  line-height: 75px;
  text-align: center;
  font-size: 30px;
}

.workflow-items-left .workflow-item.workflow-item--first {
  margin-left: 10rem;
  animation: rotateInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.workflow-items-right .workflow-item:last-of-type {
  margin-right: 10rem;
  animation: rotateInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.fa15 {
  font-size: 1.5em;
  padding-top: 1.5rem;
}

@keyframes fromLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  100% {
      opacity: 1;
      transform: translateX(-.5rem);
  }
}

@keyframes fromTop {
  0% {
      opacity: 0;
      transform: translateY(-5rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
      opacity: 0;
      transform: translateY(5rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes show {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes width {
  0% {
      width: 0;
  }

  100% {
      width: 5rem;
  }
}

.workflow-item-text {
  display: inline-block;
  line-height: 16px;
  font-size: 16px;
  width: 9rem;
  transform: translateX(-.5rem);
}

.workflow-item-text--first {
  animation: fromLeft .5s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-item--second {
  animation: fromTop .5s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-item--3 {
  animation: fromBottom .5s;
  animation-delay: 3.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-arrow-right {
  display: inline-block;
  width: 5rem;
  height: 8.5rem;
  border-top: 2px solid #fff;
  position: relative;
}

.workflow-arrow-right span {
  color: #fff;
  position: absolute;
  top: -10px;
  right: -4px;
  font-size: 14px;
}

.workflow-arrow-right.workflow-arrow-right--first span {
  animation: show .5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-arrow-right.workflow-arrow-right--2 span {
  animation: show .5s;
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-arrow-right--first {
  animation: width .5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-arrow-right--2 {
  animation: width .5s;
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-item-text--second {
  animation: show .5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.workflow-item-text--3 {
  animation: show .5s;
  animation-delay: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.opacity-no {
  opacity: 0;  
}
/* 
.coffee-and-run {
  max-height: 101vh;
  overflow: hidden;
} */

.coffee-and-run div {
  transition: all 1s; 
}
.move-down-1 {
  transform: translateY(-100vh);
}

.move-down-2 {
  transform: translateY(-200vh);
}

.move-up-1 {
  transform: translateY(100vh);
}

.move-up-2 {
  transform: translateY(200vh);
}

.cont {
  height: 500vh;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 10000;
}

.Navigation-Anchor {
  background-color: #fff !important;
}

.Navigation-Anchor.active {
  background-color: #3cbac4 !important;
}